<div *ngIf="!loading">
  <div class="jumbotron" *ngFor="let message of messages"  [class.selected]="isSelected(message)" (click)="setSelected(message.id); isSelected(message)">
    <app-message [message]="message"></app-message>
  </div>
</div>
<p *ngIf="loading">...loading</p>
<!-- Pagination -->
<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <button (click)="prevPage()">&laquo;</button>
      </li>
      <li>
        <button (click)="nextPage()">&raquo;</button>
      </li>
    </ul>
  </div>
</div>

<app-message-form></app-message-form>
