<div class="well">
  <h4>Leave a Comment:</h4>
  <form [formGroup]="messageForm"
        (ngSubmit)="onSubmit(messageForm.value)"
        class="form">

    <div class="form-group"
         [class.has-error]="!title.valid && title.touched">
      <label for="title">Title</label>
      <textarea id="title" name="title" class="form-control" rows="1" [formControl]="title"></textarea>
      <span *ngIf="!title.valid && title.touched"
            [ngStyle]="{ 'color': 'red'}">should not be empty</span>
    </div>
    <div class="form-group"
         [class.has-error]="!body.valid && body.touched">
      <label for="message">Message</label>
      <textarea id="message" name="body" class="form-control" rows="3" [formControl]="body"></textarea>
      <span *ngIf="!body.valid && body.touched"
            [ngStyle]="{ 'color': 'red'}">should not be empty</span>
    </div>
    <div class="form-group"
         [class.has-error]="!userId.valid && userId.touched">
      <label for="userId">User Id</label>
      <textarea id="userId" name="userId" class="form-control" rows="1" [formControl]="userId"></textarea>
      <span *ngIf="!userId.valid && userId.hasError('required') && userId.touched"
            [ngStyle]="{ 'color': 'red'}">should not be empty</span>
      <span *ngIf="!userId.valid && userId.hasError('pattern') && userId.touched"
            [ngStyle]="{ 'color': 'red'}">should be a number</span>
    </div>
    <div *ngIf="messageForm.valid">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
